html,
body {
    margin: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--body-bg);
    color: white;
    font-size: 3rem;
}

/* Main Open */
#main {
    width: 90%;
    max-width: 1100px;
    margin-top: 90px;
    font-weight: 4rem;
    color: var(--primary-text);
    margin-left: auto;
    margin-right: auto;
}

/* Main Close */

/* header */

.header {
    background-color: var(--header-bg);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    border-bottom: 1.5px solid var(--header-border-btm);
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--header-bg);
}


.header li {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

/* Header item list */
.header ul li {
    font-size: 2rem;
    text-decoration: none;
}

/* Header item links  */
.header ul li, #toggle-theme {
    color: var(--header-item-font);
}

.header li:hover,
.header .menu-btn:hover {
    /* background-color: var(--header-item-hover); */
    border-bottom: 1px solid;
    color: var(--header-item-font);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.toggle:hover {
    /* background-color: var(--header-item-hover); */
    border-bottom: 1px solid;
    color: var(--header-item-font);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

/* Header logo */
.header .logo {
    display: block;
    float: left;
    font-size: 3rem;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary-text);
}

/* menu */
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon open */

.header .menu-icon {
    cursor: pointer;
    /* display: inline-block; */
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: var(--hamburger-icon);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--hamburger-icon);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu icon close */

/* menu btn open */
.header .menu-btn {
    display: none;
}
/* menu btn close */

/* Header menu dropdown styling open*/
.header .menu-btn:checked~.menu {
    max-height: 350px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

/* Hamburger menu button animation open */
.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}
/* Hamburger menu button animation close */

/* Header menu dropdown styling close*/

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    
}

@media (max-width: 48em) {
    th:nth-child(3), .track-plays {
        display: none;
    }
    
    #album-name {
        font-size: 2rem;
    }
}

.active {
    border-bottom: 1px solid;
}
/* Theme Switch Close */

/* Album info page open */
.album-info {
    padding: 30px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.album-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.album-artwork {
    position: relative;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    z-index: 1001;
    border-radius: 15px;
}

.album-metadata {
    width: 100%;
    text-align: center;
    color: var(--album-name-font);
    overflow-wrap: break-word;
    user-select: none;
}

#album-name {
    font-size: 2rem;
}

.album-meta {
    margin-top: 4px;
    color: var(--album-meta-font);
    font-size: 1.2rem;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0;
}

#copyright {
    padding-top: 5px;
    color: var(--album-footer-copyright);
    font-size: 1.1rem;
    font-weight: bold;
} 
/* Album info page close */

/* Track list open */
table {
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 1.7rem;
}

td, th {
    padding: .8em .5em;
    text-align: left;
}

th {
    background-color: var(--track-list-header-bg);
}

tr:nth-child(even) {
    background-color: var(--track-list-row-alt-bg);
}

td:nth-child(2), th:nth-child(2) {
    padding-left: 5px;
}

.track-num, .track-plays, .track-len, th:nth-child(3), th:nth-child(1), th:nth-child(4) {
    text-align: center;
}

.track-num {
    width: 30px;
}

.track-plays {
    width: 120px;
    text-align: right;
    padding-right: 20px;
}

.track-len {
    width: 80px;
}

tbody tr:hover {
    cursor: pointer;
    background-color: var(--track-list-row-hover);
}

.duration-icon {
    fill: var(--duration-icon);
    height: 20px;
    width: 20px;
    padding-top: 5px;
}

.album-footer{
    width: 100%;
    margin: 0 auto;
}
/* Track list close */

/* Colors Open */
/*Default Theme*/
.default {
    --primary-text: #ffffff;
    --body-bg: #151718;
    --header-bg: #111213;
    --header-border-btm: #2f343f;
    --header-item-font: #ffffff;
    --header-item-hover: #252525;
    --hamburger-icon: #ffffff;
    --track-list-header-bg:  #232323;
    --track-list-row-alt-bg:  #232323;
    --track-list-row-hover: #252525;
    --duration-icon: #ffffff;
    --album-meta-font: #ffffff;
    --album-name-font: #ffffff;
    --album-footer-copyright: rgba(255, 255, 255, 0.5);
}

/*Dark Theme*/
.light {
    --primary-text: #000000;
    --body-bg: #e7e8eb;
    --header-bg: #f5f6f7;
    --header-border-btm: #d3d3d4;
    --header-item-font: #111213;
    --header-item-hover: #cccccc;
    --hamburger-icon: #111213;
    --track-list-header-bg:  #d3d3d4;
    --track-list-row-alt-bg:  #d3d3d4;
    --track-list-row-hover: #cccccc;
    --duration-icon: #000000;
    --album-meta-font: #4b4b4b;
    --album-name-font: #111213;
    --album-footer-copyright: rgba(0, 0, 0, 0.5);
}

/* Colors Close */